bin/assets/
bin/
build/
eclipse/
world/
logs/
mods/
config/
.gradle/
.settings/
gradlew
gradlew.bat
server.properties 
gradle/
*.properties 
.gradle/
screenshots/
.settings/
.classpath
.project
gradlew