bin/assets/
bin/
build/
eclipse/
world/
logs/
mods/
config/
.gradle/
.settings/
gradlew
gradlew.bat
server.properties
*.txt
*.json
*.bat
gradle/
*.properties
*.gradle
.gradle/
screenshots/
.settings/
.classpath
.project
gradlew